<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <title>Tiền mỹ hiệu</title>
    <meta name="description" content="Tiền mỹ hiệu,Tiền thưởng triều Nguyễn"/>
    <meta name="keywords" content="Tiền,Việt Nam,Tiền mỹ hiệu"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://cdn.tienmyhieu.com/css/tienmyhieu-vi.css"/>
    <link rel="icon" href="http://cdn.tienmyhieu.com/images/favicon.png" type="image/png"/>
</head>
<body>
<div class="tmh_body">
    <div class="tmh_elements">
        ||content0||
    </div>
</div>
</body>
</html>
